//COLORS
$color-grey-light--1: #e8eef4;
$color-grey-light--2: #f7f9fb;

$color-grey-dark--1: #585759;
$color-grey-dark--2: #94a8c2;

$color-blue: #2495eb;

$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.6rem;
