//COLORS
$color-primary: #2495eb;
$color-secondary: #94a8c2;

$color-grey-light--1: #e8eef4;
$color-grey-light--2: #f7f9fb;
$color-grey-light--3: #e8eef4;

$color-grey-dark--1: #585759;

$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.6rem;
