//COLORS
$color-primary: #2495eb;
$color-secondary: #94a8c2;

$color-grey-light--1: #e8eef4;
$color-grey-light--2: #f7f9fb;
$color-grey-light--3: #e8eef4;
$color-grey-light--4: #d3dae3;

$color-grey-dark--1: #585759;
$color-grey-dark--2: #242d3e;
$color-grey-dark--3: #5d6a7e;

$color-blue--1: #0070ca;

$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.6rem;
